h2 Register with email
form(action="/users/register" method="POST")
    div 
        lable(for="name") Name
        input(type="text", 
            name="name", 
            placeholder="Enter Name",
            value=name?name:"")
        br
        lable(for="email") Email
        input(type="email", 
            name="email", 
            placeholder="Enter Email",
            value=email?email:"")
        br
        lable(for="password") Password
        input(type="password", 
            name="password", 
            placeholder="Enter Password"
            value=password?password:"")
        br
        lable(for="password2") Password
        input(type="password", 
            name="password2",
            placeholder="Confirm Password"
            value=password2?password2:"")

    button(type="submit" class="btn btn-primary btn-block") Submit